streamlit
pandas
numpy
pathlib
beautifulsoup4
streamlit-google-analytics-tag
selenium
webdriver-manager
streamlit @ https://raw.githubusercontent.com/nickdisca/streamlit_test/main/dist/streamlit-1.56.0-py3-none-any.whl